<header>
    <div class="wall"></div>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Let's save money...</div>
            <div class="intro-heading">and help the enviroment</div>
            <div class="intro-description">Check for products in your area, and save money getting products that would otherwise be wasted.</div>
            <a ng-click="getProducts(); getCoordenates()" class="page-scroll btn btn-xl">Check products</a>
        </div>
    </div>
</header>
<section id="main-discription" class="bg-light-gray">
    <div class="container">
        <div class="row last-added">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">WHY FIGHT FOOD WASTE</h2>
                <h3 class="section-subheading text-muted">Together we can make the difference</h3>
                <div class="row discription">
                    <div class="col-md-6">
                        <p>Around 88 million tonnes of food are wasted annually in the EU, and over 40% occurs at retail and consuler level. Wasting food depletes the enviroment of limited natural resources and is also a waste of money.It depends of every one of us to do our small part in preventing and reducing food waste.
                    </div>
                    <div class="col-md-6">
                        <p>The misunderstandings of the "best before" and "use by" date labels leading to edible foods being thrown away but a wide range of initiatives to prevent and reduce food waste can be taken. If everyone start at local level to implement some measures, then it will make a big difference to the world. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">SHOPS</h2>
                <h3 class="section-subheading text-muted">Shops can get profit selling products that otherwise would give them costs</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <img src="../img/market.jpg" class="fish-shop" alt="Cinque Terre">
                <h4 class="service-heading">Supermarket</h4>
                <p class="text-muted">Every day supermarkets through away food that could be still consumed. They lose money everyday and the enviroment also lose.</p>
            </div>
            <div class="col-md-3">
                <img src="../img/fish-shop.jpg" class="fish-shop" alt="Cinque Terre">
                <h4 class="service-heading">Fish Shops</h4>
                <p class="text-muted">With the fish stocks decreasing globally this kind of shops have a important role in the global food save. The impact in all marine life depends on all the small gestures </p>
            </div>
            <div class="col-md-3">
                <img src="../img/bakery.jpg" class="fish-shop" alt="Cinque Terre">
                <h4 class="service-heading">Bakery</h4>
                <p class="text-muted">Every day bakeries through away lots of bread, buying in this kind shop at the end of the day can be cheaper and better for everyone.</p>
            </div>
            <div class="col-md-3">
                <img src="../img/butchery.jpg" class="fish-shop" alt="Cinque Terre">
                <h4 class="service-heading">Butchery</h4>
                <p class="text-muted">The impact of the meat production in global enviroment effect is big. Every little saving of meat is one step ahead to help us to keep a better world.</p>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row last-added">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Last products Added</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item group-products">
                <div class="portfolio-caption">
                    <img id="last-img" src="../img/pollo-asado.jpg" class="img-responsive" alt="">
                    <h4>Roasted Chicken</h4>
                    <p class="text-muted">Distance: 600m</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="portfolio-caption">
                    <img id="last-img" src="../img/ensalada.jpg" class="img-responsive" alt="">
                    <h4>Fresh Salad</h4>
                    <p class="text-muted">Distance: 850m</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="portfolio-caption">
                    <img id="last-img" src="../img/pan-barra.jpg" class="img-responsive" alt="">
                    <h4>Bread</h4>
                    <p class="text-muted">Distance: 1200m</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="portfolio-caption">
                    <h4>Carrots</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="portfolio-caption">
                    <h4>Croissantes</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="portfolio-caption">
                    <h4>Fresh Fish</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
        </div>
    </div>
</section>

