<div class="container">
    <div class="row">
        <div class="list-categories col-md-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." ng-model="sometext">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Search</button>
                  </span>
            </div>
            <p class="lead1">Category</p>
            <div class="list-group">
                <a href="#" class="list-group-item">Supermaket</a>
                <a href="#" class="list-group-item">Fish Shops</a>
                <a href="#" class="list-group-item">Bakery</a>
                <a href="#" class="list-group-item">Butchery</a>
            </div>
            <p class="lead1">Distance</p>
            <select class="distance-select">
                <option>+ 1 km</option>
                <option>+ 2 km</option>
                <option>+ 3 km</option>
                <option>+ 5 km</option>
                <option>+ 10 km</option>
            </select>
        </div>
        <div class="col-md-9">
            <p class="result-input">Searching for: {{sometext}}</p>
            <div class="row list-products">
                <ul class="list-unstyled list-pizzas">
                    <li ng-repeat="product in products">
                        <div class="col-sm-6  col-md-4 setborder" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">
                            <div class="thumbnail products">
                                <img class="discount" src="img/discount50.jpeg"></img>
                                <img class="product-img" src="{{ product.image }}" alt="">
                                <div class="caption">
                                    <h4 class="pull-right">{{ product.price/(100/product.discount)}}€</h4>
                                    <h4 class="price-review">{{product.price}}€</h4>
                                    <h3> {{ product.name }}</h3>
                                    <p>{{ product.experyAt}}</p>
                                       <h5>Distance: 600m</h5>
                                    <p>{{ product.shop }}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--Modal content  -->
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content details-modal">
                        <h1>{{ product.shop }}</h1>
                        <p>{{ product.address }}</p>
                        <a ng-click="getShop()" type="submit" data-dismiss="modal" class="page-scroll btn btn-xl"> See all products</a>
                        <img src="img/mapa.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
