
    <div class="row">
        <div class="list-categories col-md-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." ng-model="query">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Search</button>
                  </span>
            </div>
            <p class="lead1">Category</p>
            <div class="list-group">
                <a href="#" class="list-group-item">Supermaket</a>
                <a href="#" class="list-group-item">Fish Shops</a>
                <a href="#" class="list-group-item">Bakery</a>
                <a href="#" class="list-group-item">Butchery</a>
            </div>
            <p class="lead1">Distance</p>
            <select class="distance-select">
                <option>+ 1 km</option>
                <option>+ 2 km</option>
                <option>+ 3 km</option>
                <option>+ 5 km</option>
                <option>+ 10 km</option>
            </select>
        </div>
        <div class="col-md-9">
            <p class="result-input">Searching for: {{query}}</p>
            <div id="products" class="list-products">
                <ul class="list-unstyled list-products">
                    <li ng-repeat="product in products | filter: query">
                            <div class="thumbnail">
                            <!-- <img class="discount" src="img/discount50.jpeg"></img> -->
                              <div class="container-image">
                                    <div class="img-bg" ng-style="{'background-image':'url({{product.image}})'}" ng-alt="{{ product.name }}">
                                    <div class="cover-hover">
                                        <p><a data-toggle="modal" data-target="#modalProduct_{{ product._id }}"><i class="glyphicon glyphicon-zoom-in"></i></a></p>
                                    </div>
                              </div>
                                <div class="caption">
                                <h4 class="pull-right">now {{ product.price*(1-(product.discount/100))}}€</h4>
                                    <h4 class="price-review">{{product.price}}€</h4>
                                    <h5> {{ product.name }}</h5>
                                    <p>Expery at: {{ product.experyAt}}</p>
                                    <h6>Distance: 600m</h6>
                                    <p>{{ product.shop }}</p>
                                    <p>{{ product.category }}</p>
                                    <p><a href="#" class="btn btn-danger" role="button" ng-click="removeProduct(product._id)">Remove</a></p>
                                </div>
                            </div>
                            <!-- <div class="thumbnail products">
                                <img class="discount" src="img/discount50.jpeg"></img>
                                <img class="product-img" src="{{ product.image }}" alt="">
                                <div class="caption">
                                    <h4 class="pull-right">{{ product.price/(100/product.discount)}}€</h4>
                                    <h4 class="price-review">{{product.price}}€</h4>
                                    <h3> {{ product.name }}</h3>
                                    <p>Expery at: {{ product.experyAt}}</p>
                                    <h5>Distance: 600m</h5>
                                    <p>{{ product.shop }}</p>
                                </div>
                            </div> -->
                        <div ng-include="'templates/includes/modal.html'"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

