<div class="container form-index">
    <div class="row">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">Upload a product</div>
                <div class="panel-body">
                    <form ng-submit="addProduct()" role="form" id="registForm">
                        <div class="form-group">
                            <label for="nameProduct">Product Name</label>
                            <input ng-model="name" name="nameProduct" type="text" class="form-control" id="input-code">
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label for="priceProduct">Price</label>
                                <div class="input-group" id="input-group-1">
                                    <input ng-model="price" name="priceProduct" type="number" class="form-control" id="content-1" step=".01">
                                </div>
                                <!-- /input-group -->
                            </div>
                            <div class="col-md-4">
                                <label for="discountProduct">Discount</label>
                                <div class="input-group" id="input-group-1">
                                    <input ng-model="discount" name="discountProduct" type="text" class="form-control" id="content-1" placeholder="Percentage discount (%)">
                                </div>
                                <!-- /input-group -->
                            </div>
                            <div class="col-md-4">
                                <label for="idShop">Shop Name</label>
                                <select ng-model="shop">
                                    <option ng-repeat="shop in shops" value="{{shop._id}}">{{shop.name}}</option>
                                </select>
                                <!-- /input-group -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="experyDate">Date of Expery</label>
                            <input ng-model="experyAt" name="experyDate" type="date" class="" id="input-StartDate-1">
                        </div>
                        <div class="form-group">
                            <label for="imageURL">Image URL</label>
                            <input ng-model="image" name="imageURL" type="text" class="form-control" id="input-code">
                        </div>
                        <button href="#!/products" type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='main-panel'>
    <div class="container">
        <h3 id="prod-list" class="container"> List of products: </h3>
        <div class="row">
            <input type="text" class="col-xs-offset-3 col-xs-6 col-xs-offset-3form-control  uploadQuery" placeholder="Search your product" ng-model="queryUploaded">
        </div>
        <div style="height: 800px; overflow: auto">
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>Picture</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Discount</th>
                        <th>Date of Expery</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="product in allProducts | filter: queryUploaded">
                        <form ng-submit="updateProduct()" role="form" id="productUpdate">
                            <td><img id="panel-image" src="{{product.image}}"></td>
                            <td>{{product.name}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.discount}}</td>
                            <td>{{product.experyAt | date : shortDate}}</td>
                            <td>
                            </td>
                            <td>
                                <p><a class="btn btn-danger" role="button" ng-click="removeProduct(product._id)">Remove</a></p>
                            </td>
                    </tr>
                    <tr ng-repeat-end></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
