<div class="container form-index">
    <div class="row">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">Upload a Shop</div>
                <div class="panel-body">
                    <form role="form" id="registForm">
                        <div class="form-group">
                            <label for="shopName">Shop Name</label>
                            <input ng-model="name" name="shopName" type="text" class="form-control" id="input-code">
                        </div>
                        <div class="form-group">
                            <label for="shopCategory">Shop Category</label>
                            <select class="input" ng-model="category">
                                <option name="shopAddress">supermaket</option>
                                <option name="shopAddress">fishShop</option>
                                <option name="shopAddress">bakery</option>
                                <option name="shopAddress">butchery</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-md-9 form-group">
                                <label for="shopAddress">Address</label>
                                <input ng-model="address" name="shopAddress" type="text" class="form-control" id="input-code" placeholder="street, city" required>
                                <p>{{info}}</p>
                            </div>
                            <!--  Get the coordenates -->
                            <div class="hidden form-group">
                                <label for="shopCord">Address</label>
                                <input ng-model="address" name="shopCord" type="text" class="hidden form-control" id="input-code" required>
                                <input ng-value="{{ lat }}" ng-model="lat">
                                <input ng-value="{{ lng }}" ng-model="lng">
                            </div>
                            <div class="col-md-3">
                                <p>
                                    <button class="valid-btn btn" role="button" ng-click="getCoordenates()">Validate Your address</button>
                                </p>
                            </div>
                        </div>
                        <div class="hidden form-group">
                            <label for="imageShop">Image URL</label>
                            <input ng-model="imageShop" name="imageShop" type="text" class="form-control" id="input-code">
                        </div>
                        <button ng-click="addShop()" type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
