/****** shops.html *******/
.shop-name {
  margin-top: 100px;
  height: 180px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column-reverse;
  background-color: rgba(254, 202, 28, 0.9);
}

.shop-name > p{
  font-size: 30px;
}

.list-products-shop {
  margin-top: 50px;
}