#main-map {
  // margin-top: 60px;
  // margin: 0px;
  // position: relative;
  // position: fixed;
  height: 60vh;
  width: 100%; 
}

.details-modal > h4 {
  text-align: center;
}

#shop-link {
  padding: 0 0;
font-size: 20px;
}

#modal-link {
  background-color: #FECA1C;
}

  #modal-link:hover {
  background-color: #ffd754;
  cursor: pointer;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}
