#main > * {
  margin-top: 60px;
  margin: 0px;
  position: relative;
  position: fixed;
  height: 60vh;
  width: 100%; 
}

.details-modal > h4 {
  text-align: center;
}

#shop-link {
  padding: 0 0;
font-size: 20px;
}

