.form-index {
   margin-top: 150px;
}

.uploadQuery {
  margin-top: 20px;
  margin-bottom: 50px;
}

.panel-heading {
	font-size:20px;
}

.valid-btn {
  margin-top: 25px;
}

.main-panel {
  margin-top: 30px;
}

#panel-image {
  width:50px;
}

#prod-list {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}