<footer>
<nav class=" navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <span class="copyright">Copyright &copy; Zero Waste 2017 by <a href="https://github.com/LeonelAV">LeonelAV</a></span>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div><a href="http://www.skylabcoders.com/es/">SKYLABCODERS</a></div>
            </div>
             <div class="col-xs-12 col-md-4">
                <span class="copyright">Twitter<a href="https://twitter.com/Leocatorze">Leocatorze</a></span>
            </div>
        </div>
    </div>
</footer>
<!-- <nav class="navbar navbar-default footer-view">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="text-center"><a href="http://www.skylabcoders.com/es/">SKYLABCODERS 💻</a></div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="design text-center"><a href="https://github.com/lfernandezcall">Ad astra per aspera</a></div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="copyright text-center">© 2017, not made by a 🤖 </div>
      </div>
    </div>
  </div>
</nav> -->
