    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a id="main-title" class="navbar-brand page-scroll" href="#!/products">Zero waste</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right nav-btns">
                    <li>
                        <a class="page-scroll" href="#main-discription">Why Save food</a>
                    </li>
                    <li>
                        <a  class="page-scroll" href="#!/uploadShop">Add Shops</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#!/uploadProducts">Add Products </a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#!/login">Log In</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#!/register">Register</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>