<div class="modal fade bs-example-modal-lg" id="modalProduct_{{product._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content details-modal">
            <h4>{{ product.shop.name}}</h4>
            <p>{{ product.shop.address }}</p>
            <p>{{product.shop._id}}</p>
            <a id="shop-link" ng-click="getShop()" type="button" data-dismiss="modal" class="page-scroll btn btn-xl" ng-model="shopId" value= "{{product.shop._id}}"> See all products</a>
            <!-- <img src="img/mapa.png"> -->
            <div id="map">
                <ng-map id="main-map" center="[{{ product.shop.lat }}, {{ product.shop.lng }}]" zoom="18">
                    <marker  class="map-icon map-icon-point-of-interest" animation="DROP" position="[{{ product.shop.lat }}, {{ product.shop.lng }}]"></marker>
                </ng-map>

            </div>
            <!-- <marker icon="img/icon-marker.png" animation="DROP" position=""></marker> -->
        </div>
        </li>
        </ul>
    </div>
</div>
