
<div class="modal fade bs-example-modal-lg" id="modalProduct_{{product._id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content details-modal">
            <h1>{{ product.shop }}</h1>
            <p>{{ product.name }}</p>
            <a ng-click="getShop()" type="submit" data-dismiss="modal" class="page-scroll btn btn-xl"> See all products</a>
            <img src="img/mapa.png">
        </div>
    </div>
</div>
